* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Advent Pro';
    height: 100%;
    margin: 0;
    padding: 0;
}

.home_page {
    background-image: url("./images/period-calendar-with-copy-space.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar__menu{
    overflow: hidden;
    width: 100%;
}

.navbar__menu--links{
    color: black;
    text-decoration: none;
    padding: 20px 20px 0 20px;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
}

.navbar__menu a:hover {
    color: #CE5D5F;
}

.navbar__menu .icon {
    display: none;
}

.home_page_text {
    display: table;
    padding-top: 80px;
    height: 600px;
    width: 100%;
}

.home_page_text_container h1 {
    margin: 10% 0% 0 3%;
    text-align: left;
    color: #CE5D5F;
    font-size: 60px;
    text-transform: uppercase;
}

.home_page_text_container p {
    position: relative;
    margin: 0% 50% 0% 3%;
    text-align: left;
    font-size: 20px;
}

.calender_title{
    text-align: center;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    font-size: 15px;
}

.calender_content{
    padding: 100px;
    background-color: #ce5d5f;
    display: flex;
    justify-content: center;
}

.calender_text_part{
    width: 50%;
    padding: 50px 200px 0 200px;
}

.calender_text_part p{
    text-align: center;
    color: white;
    font-size: 30px;
}

.calender_form_part{
    width: 50%;
    background-color: white;
}

.calender_form_part p{
    text-align: center;
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    padding: 20px;
}

form{
    padding: 20px;
}

.date_title{
    text-transform: uppercase;
    font-size: 20px;
    color: #CE5D5F;
    font-size: 25px;
    padding: 20px;
    margin:  50px;
}

.date_picker{
    padding: 10px;
    border: 2px solid #D9D9D9;
    font-size: 20px;
    background-color: #D9D9D9;
}

@media screen and (max-width: 600px) {
    .navbar__menu a {
        display: none;
    }

    .navbar__menu a.icon {
        float: left;
        display: block;
        color: black;
        padding: 10px;
        font-size: 15px;
    }

    .navbar__menu--links{
        color: black;
        text-decoration: none;
        padding: 1s0px 20px 0 20px;
        font-size: 15px;
        text-transform: uppercase;
        display: inline-block;
    }
   
    .navbar__menu_responsive {
        position: relative;
    }

    .navbar__menu_responsive .icon {
        position: absolute;
        color: #CE5D5F;
        padding: 10px;
        font-size: 15px;
        top: 0;
    }
    .navbar__menu_responsive a {
        padding-left: 50px;
        float: none;
        display: block;
        text-align: left;
    } 
    
    .calender_content{
        display:inline-block;
        margin: 0;
        padding: 0;
    }

    .calender_text_part{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .calender_form_part{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .date_title{
        margin: 0;
        padding: 0;
    }
}